In [1]:
# Only doing once: Install a pip package in the current Jupyter kernel
# import sys
# !{sys.executable} -m pip install pyflightdata

In [3]:
from pyflightdata import FlightData
import pandas as pd

In [2]:
# Get statistics from given airport: TFS 
f=FlightData()
data = f.get_airport_stats('TFS',page=1,limit=10)

In [9]:
tmp = pd.json_normalize(data)
tmp

,arrivals.delayIndex,arrivals.delayAvg,arrivals.percentage.delayed,arrivals.percentage.canceled,arrivals.percentage.trend,arrivals.recent.delayIndex,arrivals.recent.delayAvg,arrivals.recent.percentage.delayed,arrivals.recent.percentage.canceled,arrivals.recent.percentage.trend,...,departures.today.quantity.onTime,departures.today.quantity.delayed,departures.today.quantity.canceled,departures.yesterday.percentage.delayed,departures.yesterday.percentage.canceled,departures.yesterday.quantity.onTime,departures.yesterday.quantity.delayed,departures.yesterday.quantity.canceled,departures.tomorrow.percentage.canceled,departures.tomorrow.quantity.canceled
0,0.42,5,0,0,down,0.42,5,0,0,down,...,7,2,0,0.33,0,91,44,0,0,0

In [10]:


tmp_selected = tmp[["departures.yesterday.quantity.onTime", 
                    "departures.yesterday.quantity.delayed",
                    "departures.yesterday.quantity.canceled",
                    "arrivals.yesterday.quantity.onTime", 
                    "arrivals.yesterday.quantity.delayed",
                    "arrivals.yesterday.quantity.canceled",
                    ]]

In [13]:
tmp_selected.rename(columns={'departures.yesterday.quantity.onTime': 'departures_onTime',
                             'departures.yesterday.quantity.delayed': 'departures_delayed',
                             'departures.yesterday.quantity.canceled': 'departures_canceled',
                             'arrivals.yesterday.quantity.onTime': 'arrivals_onTime',
                             'arrivals.yesterday.quantity.delayed': 'arrivals_delayed',
                             'arrivals.yesterday.quantity.canceled': 'arrivals_canceled'
                             }, inplace=True)

/var/folders/rh/811h48s51457sn_sb4w1ts9r0000gn/T/ipykernel_81416/2790454671.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp_selected.rename(columns={'departures.yesterday.quantity.onTime': 'departures_onTime',

In [16]:
tmp_selected['airport_code'] = 'TFS'

/var/folders/rh/811h48s51457sn_sb4w1ts9r0000gn/T/ipykernel_81416/2495213282.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp_selected['airport_code'] = 'TFS'

In [17]:
print(tmp_selected.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   departures_onTime    1 non-null      int64
 1   departures_delayed   1 non-null      int64
 2   departures_canceled  1 non-null      int64
 3   arrivals_onTime      1 non-null      int64
 4   arrivals_delayed     1 non-null      int64
 5   arrivals_canceled    1 non-null      int64
 6   airport_code         1 non-null      object
dtypes: int64(6), object(1)
memory usage: 184.0+ bytes
None

In [20]:
tmp_selected_tfs = tmp_selected
tmp_selected_tfs

,departures_onTime,departures_delayed,departures_canceled,arrivals_onTime,arrivals_delayed,arrivals_canceled,airport_code
0,91,44,0,114,14,0,TFS

In [25]:
# Get statistics from given airport: IAD
f=FlightData()
data = f.get_airport_stats('IAD',page=1,limit=10)
tmp = pd.json_normalize(data)

In [26]:
# Select columns and use clean column names
tmp_selected = tmp[["departures.yesterday.quantity.onTime", 
                    "departures.yesterday.quantity.delayed",
                    "departures.yesterday.quantity.canceled",
                    "arrivals.yesterday.quantity.onTime", 
                    "arrivals.yesterday.quantity.delayed",
                    "arrivals.yesterday.quantity.canceled",
                    ]]

tmp_selected.rename(columns={'departures.yesterday.quantity.onTime': 'departures_onTime',
                             'departures.yesterday.quantity.delayed': 'departures_delayed',
                             'departures.yesterday.quantity.canceled': 'departures_canceled',
                             'arrivals.yesterday.quantity.onTime': 'arrivals_onTime',
                             'arrivals.yesterday.quantity.delayed': 'arrivals_delayed',
                             'arrivals.yesterday.quantity.canceled': 'arrivals_canceled'
                             }, inplace=True)

tmp_selected['airport_code'] = 'IAD'
tmp_selected_iad = tmp_selected

/var/folders/rh/811h48s51457sn_sb4w1ts9r0000gn/T/ipykernel_81416/169056031.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp_selected.rename(columns={'departures.yesterday.quantity.onTime': 'departures_onTime',
/var/folders/rh/811h48s51457sn_sb4w1ts9r0000gn/T/ipykernel_81416/169056031.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp_selected['airport_code'] = 'IAD'

In [9]:
# Get statistics from given airport: KRK is not available, replaced by WARSAW airport
f=FlightData()
data = f.get_airport_stats('WAW',page=1,limit=10)
# tmp = pd.json_normalize(data)

In [10]:
len(data)

2

In [11]:
data

{'arrivals': {'delayIndex': 0.42,
  'delayAvg': 5,
  'percentage': {'delayed': 0.25, 'canceled': 0, 'trend': 'down'},
  'recent': {'delayIndex': 0.42,
   'delayAvg': 5,
   'percentage': {'delayed': 0.25, 'canceled': 0, 'trend': 'down'},
   'quantity': {'onTime': 9, 'delayed': 3, 'canceled': 0}},
  'today': {'percentage': {'delayed': 0.05, 'canceled': 0.01},
   'quantity': {'onTime': 38, 'delayed': 9, 'canceled': 1}},
  'yesterday': {'percentage': {'delayed': 0.29, 'canceled': 0},
   'quantity': {'onTime': 137, 'delayed': 56, 'canceled': 0}},
  'tomorrow': {'percentage': {'canceled': 0}, 'quantity': {'canceled': 0}}},
 'departures': {'delayIndex': 1.46,
  'delayAvg': 18,
  'percentage': {'delayed': 0.68, 'canceled': 0, 'trend': 'up'},
  'recent': {'delayIndex': 1.46,
   'delayAvg': 18,
   'percentage': {'delayed': 0.68, 'canceled': 0, 'trend': 'up'},
   'quantity': {'onTime': 7, 'delayed': 15, 'canceled': 0}},
  'today': {'percentage': {'delayed': 0.29, 'canceled': 0.01},
   'quantity': {'onTime': 14, 'delayed': 52, 'canceled': 1}},
  'yesterday': {'percentage': {'delayed': 0.83, 'canceled': 0},
   'quantity': {'onTime': 32, 'delayed': 158, 'canceled': 0}},
  'tomorrow': {'percentage': {'canceled': 0}, 'quantity': {'canceled': 0}}}}

In [59]:
# Select columns and use clean column names
tmp_selected = tmp[["departures.yesterday.quantity.onTime", 
                    "departures.yesterday.quantity.delayed",
                    "departures.yesterday.quantity.canceled",
                    "arrivals.yesterday.quantity.onTime", 
                    "arrivals.yesterday.quantity.delayed",
                    "arrivals.yesterday.quantity.canceled",
                    ]]

tmp_selected.rename(columns={'departures.yesterday.quantity.onTime': 'departures_onTime',
                             'departures.yesterday.quantity.delayed': 'departures_delayed',
                             'departures.yesterday.quantity.canceled': 'departures_canceled',
                             'arrivals.yesterday.quantity.onTime': 'arrivals_onTime',
                             'arrivals.yesterday.quantity.delayed': 'arrivals_delayed',
                             'arrivals.yesterday.quantity.canceled': 'arrivals_canceled'
                             }, inplace=True)

tmp_selected['airport_code'] = 'WAW'
tmp_selected_waw = tmp_selected

/var/folders/rh/811h48s51457sn_sb4w1ts9r0000gn/T/ipykernel_81416/4081344949.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp_selected.rename(columns={'departures.yesterday.quantity.onTime': 'departures_onTime',
/var/folders/rh/811h48s51457sn_sb4w1ts9r0000gn/T/ipykernel_81416/4081344949.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp_selected['airport_code'] = 'WAW'

In [64]:
tmp_all = pd.concat([tmp_selected_tfs, tmp_selected_iad, tmp_selected_waw], axis=0).reset_index()
tmp_all

,index,departures_onTime,departures_delayed,departures_canceled,arrivals_onTime,arrivals_delayed,arrivals_canceled,airport_code
0,0,91,44,0,114,14,0,TFS
1,0,175,152,1,278,46,1,IAD
2,0,58,131,0,145,31,1,WAW

In [61]:
# tmp_all=pd.concat([tmp_selected_tfs, tmp_selected_iad], axis=0).reset_index()
# tmp_all.to_csv("example_output_extract.csv")

In [62]:
# tmp_all.dtypes

In [38]:
import datetime as dt 
# print(dt.datetime.now().strftime("%Y-%m-%d"))

2023-02-06

In [66]:
tmp_all["pull_date"] = dt.datetime.now().strftime("%Y-%m-%d")

In [67]:
tmp_all

,index,departures_onTime,departures_delayed,departures_canceled,arrivals_onTime,arrivals_delayed,arrivals_canceled,airport_code,pull_date
0,0,91,44,0,114,14,0,TFS,2023-02-06
1,0,175,152,1,278,46,1,IAD,2023-02-06
2,0,58,131,0,145,31,1,WAW,2023-02-06

In [68]:
new = pd.DataFrame()
# tmp_all[["pull_date","airport_code", "departures_On"]]
new = tmp_all.iloc[:, [8, 7, 1, 2, 3, 4, 5, 6]]
new

,pull_date,airport_code,departures_onTime,departures_delayed,departures_canceled,arrivals_onTime,arrivals_delayed,arrivals_canceled
0,2023-02-06,TFS,91,44,0,114,14,0
1,2023-02-06,IAD,175,152,1,278,46,1
2,2023-02-06,WAW,58,131,0,145,31,1

In [69]:
new.to_csv("new_example_output_extract.csv")

In [70]:
new.dtypes

pull_date              object
airport_code           object
departures_onTime       int64
departures_delayed      int64
departures_canceled     int64
arrivals_onTime         int64
arrivals_delayed        int64
arrivals_canceled       int64
dtype: object

In [12]:
print(new.info())

NameError: name 'new' is not defined